<br>
<img src="../../users/<%=  @gif.user_id %>/<%= @gif.filename %>">
<form action="/gifs/<%= @gif.slug %>/edit" method="post">
	<input type="text" id="description" name="description" value="<%= @gif.description %>" size="50">
	<br>
	<input type="text" name="tags" value="<%= @tags %>" size="50">
	<br>
	<br>
	<input type="submit" value="Update Gif">
</form>