<% if flash.has?(:message) %>
<div class="alert alert-dismissible alert-success animated fadeInDown">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><%= flash[:message] %></p>
</div>
<% end %>


<br>
<img src="../users/<%=  @gif.user_id %>/<%= @gif.filename %>">
<p><%= @gif.description %></p>
<br>
<% @gif.tags.each do |tag| %>
<a href="/tags/<%= tag.slug %>"><%= tag.name %></a>
<% end %>
<br>
<a href="/gifs/<%= @gif.slug %>/edit">Edit Gif Info</a>
<form action="/gifs/<%= @gif.slug %>/delete" method="post">
	<input type="hidden" id="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Gif">
</form>
