<a href="/">Home</a> | <a href="/users/<%=  @user.id %>">My Gifs</a> | <a href="/signout">Sign Out</a>
<br>
<form action="/gifs/new" method="post" enctype="multipart/form-data">
  <label>Upload GIF:</label>
  <input type="file" name="gif">
  <br>
  <input type="text" name="description" placeholder="Add some description">
  <input type="text">
  <input type="submit" value="submit">
</form>
<br>
<% @gifs.each do |gif|%>
<a href="/gifs/<%= gif.slug %>"><img src="<%= gif.user_id %>/<%= gif.filename %>" alt="<%= gif.slug %>"></a>
<!-- NEED to add tags too -->
<% end %>