<div class="row">
  <div class="col-xs-12">
    <h3><%= current_user.username %>'s GIFs</h3>
  </div>
</div>

<% if flash.has?(:message) %>
<div class="alert alert-dismissible alert-success animated fadeInDown">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><%= flash[:message] %></p>
</div>
<% end %>

<div class="cardrow">
	<% @gifs.each do |gif|%>
  		<div class="item">
    		<div class="well">
    			<a href="/gifs/<%= gif.slug %>"><img src="<%= gif.user_id %>/<%= gif.filename %>" alt="<%= gif.slug %>"></a>

				<% gif.tags.each do |tag| %>
				<a href="/tags/<%= tag.slug %>">#<%= tag.name %></a>
				<% end %>

        </div>
      </div>
  <% end %>
</div>
