<h1><%= @tag.name %></h1>
<% @gifs.each do |gif|%>
<br>
<div>
<a href="/gifs/<%= gif.slug %>"><img src="../users/<%= gif.user_id %>/<%= gif.filename %>" alt="<%= gif.slug %>"></a>
<br>
<% gif.tags.each do |tag| %>
<a href="/tags/<%= tag.slug %>"><%= tag.name %></a>
<% end %>
</div>
<% end %>