<nav>

     <% if logged_in? %>

       <a href="/"> Home  </a> |
       <a href="/users/<%= @user.id %>">My Gifs</a> |
       <a href="/signout"> Log Out </a>
       <p>Welcome, <%=current_user.username %></p>

     <% else %>
       <a href="/login"> Log In </a>
       <a href="/signup">Sign Up</a>

     <%end %>

   </nav>
<br>
<% @gifs.each do |gif|%>
<a href="/gifs/<%= gif.slug %>"><img src="users/<%= gif.user_id %>/<%= gif.filename %>" alt="<%= gif.slug %>"></a>
<!-- NEED to add tags too -->
<% end %>
