<% if flash.has?(:message) %>
  <% if flash[:message] == "Nothing found!"  %>
    <div class="alert alert-dismissible alert-danger animated fadeInDown">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= flash[:message] %></p>
    </div>
  <% else %>
    <div class="alert alert-dismissible alert-success animated fadeInDown">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= flash[:message] %></p>
    </div>
  <%end  %>
<% end %>


<br>

<% @gifs.each do |gif|%>
    <div>
      <br>
      <% gif.tags.each do |tag| %>
      <a href="/tags/<%= tag.slug %>">#<%= tag.name %></a>
      <% end %>
      <a href="/gifs/<%= gif.slug %>"><img src="users/<%= gif.user_id %>/<%= gif.filename %>" alt="<%= gif.slug %>"></a>
    </div>
<% end %>
